body {
  font-family: 'Bungee Spice', Arial, sans-serif;
  text-align: center;
  font-size: 1.5rem;
  background-color: antiquewhite;
}

#result {
  margin-top: 20px;
}

button {
  font-size: 5rem;
}
